resources:
  - "@type": type.googleapis.com/envoy.config.listener.v3.Listener
    name: envoy_listener
    address:
      socket_address:
        address: {{socketAddress}}
        port_value: {{socketPort}}
    traffic_direction: OUTBOUND
    listener_filters:
      - name: tls_inspector
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.listener.tls_inspector.v3.TlsInspector
      - name: original_dst
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.listener.original_dst.v3.OriginalDst
    filter_chains:
      - name: https_chain
        filter_chain_match:
          transport_protocol: tls
        filters:
          - name: envoy.filters.network.tcp_proxy
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
              cluster: passthrough-https
              stat_prefix: https_passthrough
      - name: http_chain
        filters:
          - name: envoy.filters.network.http_connection_manager
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
              stat_prefix: ingress_http
              codec_type: AUTO
              route_config:
                name: local_route
                virtual_hosts:
                {{#virtualHosts}}
                  - name: {{domain}}
                    domains:
                      - '{{domain}}'
                  {{#ports}}
                      - '{{domain}}:{{port}}'
                  {{/ports}}
                    routes:
                  {{#endpoints}}
                      - match:
                          prefix: "{{path}}"
                        route:
                          cluster: {{id}}
                  {{/endpoints}}
                {{/virtualHosts}}
                  - name: allow_any
                    domains:
                      - "*"
                    routes:
                      - match:
                          prefix: "/"
                        route:
                          cluster: passthrough
              http_filters:
                {{#enableWasmFilter}}
                - name: envoy.filters.http.wasm
                  typed_config:
                    "@type": type.googleapis.com/udpa.type.v1.TypedStruct
                    type_url: type.googleapis.com/envoy.extensions.filters.http.wasm.v3.Wasm
                    value:
                      config:
                        name: "auth-filter"
                        root_id: "auth-filter"
                        configuration:
                          "@type": "type.googleapis.com/google.protobuf.Struct"
                          value:
                            general:
                              authProviderName: ext-authz
                              authProviderAddress: "{{authServiceAddress}}:{{authServicePort}}"
                              enableEndpointMatching: true
                            endpoints:
                              {{#meshEndpoints}}
                              {{authType}}:
                                {{#domains}}
                                {{domain}}:
                                  {{#paths}}
                                  - {{path}}
                                  {{/paths}}
                                {{/domains}}
                              {{/meshEndpoints}}
                        vm_config:
                          runtime: "envoy.wasm.runtime.v8"
                          vm_id: "auth-filter"
                          code:
                            local:
                              filename: "{{wasmFilterPath}}"
                {{/enableWasmFilter}}
                - name: http_router
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router